# Godot 4+ specific ignores
.godot/
.import/
export.cfg
*.translation
export_presets.cfg
.mono/
data_*/
mon_crash.*.json
*.blend*
*.swp
importations/
sons/*
addons/*
.gut_editor_config.json

# IDEA
.idea/
PremierTest3d.csproj
PremierTest3d.sln
PremierTest3d.sln.DotSettings.user
